Matematicas-para-la-Ciencia-de-Datos/Modulo-II/Aproximacion_de_bajo_rango/combined_data_1.txt
Matematicas-para-la-Ciencia-de-Datos/Modulo-III/Programacion-Lineal/41598_2018_19772_MOESM3_ESM.xlsx
**/.DS_Store
NLP-Avanzado/open-ai-api-key.txt